<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<h1>This is my own blog</h1>
<p>Lets fly on the sky </p>
<h1>Articles</h1>
<%= form_with(url: '/articles', method: 'get', local: true) do %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>
 <h2>Advance Search</h2>
  <%= link_to "Advanced Search", new_search_path %>
  
  
    <ul>
      
      <% if user_signed_in? %>

        <li>
        <%= button_to "Log out", destroy_user_session_path, :method => :delete %>
        </li>

        <li>
          <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link" %>
        </li>
              <% if current_user.user_type == 'admin' %>
                  <li>
          <%= link_to "User Index",  users_index_path, class:"nav-link" %>
        </li>
            <% end %>
      <% else %>
        <li>
          <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
        </li>

        <li>
          <%= link_to "Sign In", new_user_session_path, class:"nav-link" %>
        </li>
      <% end %>

      
      
    </ul>
    <%
=begin%>
 <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> 
<%
=end%>

<ul>
  <% @article.each do |article| %>
    <li>
      <a href="/articles/<%= article.id %>">
 <%= link_to article.title, article %>      </a>
       <ul>
       <li><%= article.id %></li>
        <li><%= article.body %></li>
     
        </ul>
    </li>
  <% end %>
</ul>
<%= link_to "New Article", new_article_path %>

  <%== pagy_bootstrap_nav(@pagy) %>